<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enruta TODAS las peticiones a app.js, excepto archivos estáticos -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Deja pasar archivos físicos (css, js, imágenes, etc.) -->
        <rule name="StaticContent" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <!-- Todo lo demás va a Node (app.js) -->
        <rule name="Nodejs" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Muestra errores del propio Node (útil en pruebas) -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
