:root {
  --azul-primario: #005387;
  --azul-secundario: #225f78;
  --azul-claro: #0089b6;
  --azul-masclaro: #6093ac;

}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Fondo especial solo para login */
body.login-bg {
  background-color: var(--azul-primario);
}

/* Letras color azul-primario */
.texto-azul-primario {
  color: var(--azul-primario);
}


main {
  flex: 1;
}


.img-cuadrada {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.card-altura-fija {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-altura-fija .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-altura-fija img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.card-altura-fija .card-text {
  flex-grow: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  filter: invert(27%) sepia(94%) saturate(749%) hue-rotate(182deg) brightness(93%) contrast(85%);
}

/* Reconocer los saltos de linea de descripcion */
.descripcion-con-saltos {
  white-space: pre-line;
}

/* Imagen Ampliable */
.imagen-ampliable {
  cursor: zoom-in;
}

#imagenGrande {
  width: 100%;
  height: 80vh;
  /* Altura máxima visible */
  object-fit: contain;
  object-position: center;
}

.bg-custom {
  background-color: #005387 !important;
}

.text-bg-primary {
  background-color: #005387 !important;
}